body {
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

#app, .wrapper_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
