
.to_do_list_wrapper {
    display: flex;
    flex-direction: column;
    background-color: #FFF7F1;
    padding: 20px 10px 30px 40px;
    align-items: center;
    justify-content: start;
    height: 100vh;
}

.weekly_planer_title {
    font-family: 'Nerko One', cursive;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.to_do_list_title {
    color: #52625F;
    background-color: #B7C8C4;
    border: 2px solid #3A4740;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 35px;
    text-align: center;
    font-family: 'Nerko One', cursive;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.inputs_wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid #555651;
    border-radius: 5px;
    width: 95%;
    position: relative;
    bottom: 95px;
    padding-top: 100px;
    padding-bottom: 20px;
}

.inputs_wrapper_button{
    position: relative;
}

.to_do_list_label {
    margin-left: 15px;
    margin-right: 45px;
    border-bottom: 2px solid #393635;
    color: #555651;
    position: relative;
    cursor: pointer;
    height: 10px;
    display: block;
}

.to_do_list_checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.to_do_list_text{
    color: #555651;
    padding-left: 20px;
    position: absolute;
    top: -5px;
    font-size: 15px;
}
.to_do_list_text:before {
    content: '';
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #B7C8C4;
    border: 2px solid #555651;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    transition: .2s;
}

.to_do_list_text:after {
    content: '';
    width: 6px;
    height: 7px;
    border-right: 2px solid #393635;
    border-bottom: 2px solid #393635;
    rotate: 45deg;
    position: absolute;
    left: 3px;
    bottom: 6px;
    transition: .2s;
    display: none;
}

.to_do_list_checkbox:checked + .to_do_list_text:after{
    display: inline-block;
}

.to_do_list_checkbox:checked + .to_do_list_text{
    text-decoration: line-through;
    color: #B7C8C4;
}

.pencil{
    position: absolute;
    color: #555651;
    font-size: 15px;
    bottom: 3px;
    right: 57px;
    cursor: pointer;
}

.button {
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    border-radius: 4px;
    background: #B7C8C4;
    border: 2px solid #555651;
}
.button_save {
    position: absolute;
    right: 8px;
    bottom: 0;
    z-index: 1;
}

.button_save:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .2),
    inset 2px 2px 3px rgba(0, 0, 0, .2);
}

.to_do_list_input{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    background-color: #FFF7F1;
    padding: 0;
    width: 340px;
    top: -2px;
    font-size: 15px;
}

.to_do_list_input:focus-visible{
    outline: none;
}

.add_new_list{
    margin-left: 15px;
    margin-right: 9px;
}
