.second_part_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date{
    height: 100px;
    width: 100%;
    background: #FFDAB4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.choose_week_input{
    font-family: 'Ubuntu', sans-serif;
    border: none;
    background: #FFDAB4;
}

.choose_week_input:focus-visible{
    outline: none;
}


.choose_month_input{
    font-family: 'Ubuntu', sans-serif;
    border: none;
    background: #FFDAB4;
}

.choose_month_input:focus-visible{
    outline: none;
}