@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Ubuntu:wght@400;500&display=swap');
@import url('first part.css');
@import url('second part.css');

*{
    font-family: 'Ubuntu', sans-serif;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Ubuntu', sans-serif;
    overflow-y: hidden;
}


