//_footer.scss

@use "var";

.footer {
  width: 100vw;
  height: 121px;
  background-color: var.$footer-color;
  @include var.flex-center;
}

.footer_content {
  font-family: var.$primary-font;
  font-weight: var.$light;
  font-size: 14px;
  color: var.$footer-color-content;

  .footer_link {
    color: var.$primary-color;
  }
}