//_main.scss
@use "var";

* {
  font-family: var.$primary-font;
}

//page_two
.page_two {
  margin-top: 8px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.page_two_wrap {
  height: 360px;
  @include var.flex-center;
  flex-direction: column;
  background-color: var.$primary-color;
  font-weight: var.$bold;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: var.$white;
  gap: 72px;

  &:nth-child(odd) {
    background-color: #1C2A33;
    color: var.$primary-color;
    gap: 48px;
  }

  img {
    display: inline-block;
  }

  .options {
    width: 57.54px;
    height: 97px;
  }

  .customizable {
    width: 93px;
    height: 75px;
  }

  .support {
    width: 62px;
    height: 99px;
  }

  .responsive {
    width: 99px;
    height: 76px;
    color: var.$white;
  }
}

//page_three
.page_three {
  width: 1160px;
  margin: 92px auto;
  @include var.flex-center;
  flex-direction: column;
}

.page_title {
  font-weight: var.$normal;
  font-size: 36px;
  color: var.$title;
  position: relative;
  @include var.flex-center;
  flex-direction: column;
}

.title_line1 {
  margin-top: 26px;
  width: 80px;
  height: 1px;
  background-color: var.$primary-color;

  transform: translateX(-550px);
  opacity: 0;
  transition: transform 0.8s ease;
}

.title_line2 {
  margin-top: 4px;
  width: 80px;
  height: 1px;
  background-color: var.$primary-color;
  position: relative;
  left: 11px;

  transform: translateX(550px);
  opacity: 0;
  transition: transform 0.8s ease;
}

.active {
  transform: translateX(0px);
  opacity: 1;
}

.our_services_wrapper {
  margin-top: 67px;
  width: 1160px;
  height: 72px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
}

.our_services_title {
  background-color: var.$lightGrey;
  box-shadow: inset 0 0 0 2px #EDEFEF;
  padding-top: 27px;
  height: 72px;
  cursor: pointer;
  position: relative;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
  }
}

.our_services_checked {
  background-color: var.$primary-color;
  color: var.$white;
  box-shadow: inset 0 0 0 2px var.$primary-color;
  border: 2px solid var.$primary-color;

  &::after {
    content: '';
    width: 27px;
    height: 15px;
    background-color: var.$primary-color;
    position: absolute;
    bottom: -5px;
    left: 73px;
    transform: rotate(45deg);
  }
}


.our_services_description {
  display: none;
  gap: 13px;
  margin-top: 27px;

  .our_services_img {
    width: 194px;
    height: 139px;
  }

  .our_services_text {
    font-weight: var.$light;
    color: #777777;
    font-size: 14px;
    line-height: 24px;
  }
}

//page_four
.page_four {
  width: 100vw;
  height: 476px;
  background-image: url("../img/Sections background/section-2.jpg");
  @include var.background-options;
  background-size: cover;
}

.page_four_wrapper {
  width: 100vw;
  height: 476px;
  background-color: var.$black;
  opacity: 0.78;
  @include var.flex-center;
  flex-direction: column;
  gap: 13px;
  position: relative;
  z-index: 0;

  .page_four_title {
    color: var.$primary-color;
    font-weight: var.$bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  }

  .page_four_description {
    line-height: 40px;
    color: #D8D8D8;
    font-weight: var.$normal;
    font-size: 16px;
    position: relative;
    z-index: 1;
  }

  .page_four_btn {
    margin-top: 62px;
    z-index: 1;
  }
}



//page_five
.page_five {
  @include var.flex-center;
  flex-direction: column;
  width: 100vw;
  background-color: #E9EDEF;
}

.page_five_title {
  margin-top: 97px;
  margin-bottom: 65px;
}

.our_works_wrapper {
  width: 589px;
  height: 62px;
  display: grid;
  grid-template-columns: 1fr repeat(4, 2fr);
  background: rgba(0, 0, 0, 0.0001);
  text-align: center;
  margin-bottom: 69px;
}

.our_works {
  height: 62px;
  padding-top: 22px;
  color: var.$darkGrey;
  font-weight: var.$normal;
  font-size: 14px;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #DADADA;
  position: relative;
  transition: color 0.5s ease-out;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
  }

  &:hover{
    color: var.$primary-color;
  }
}

.draw_border {
  &::before,
  &::after {
    width: 0;
    height: 0;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: var.$primary-color;
    border-right-color: var.$primary-color;
    transition: width 0.25s ease-out,
    height 0.25s ease-out 0.25s;
  }

  &:hover::after {
    border-bottom-color: var.$primary-color;
    border-left-color: var.$primary-color;
    transition: border-color 0s ease-out 0.5s,
    width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
  }
}

.our_works_checked {
  border: 1px solid var.$primary-color;
  color: var.$primary-color;
}


.our_works_img_wrapper {
  width: 1140px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 70px;
}

.image-container {
  display: block;
  width: 285px;
  height: 208px;
  transform-style: preserve-3d;
  perspective: 1000px;

  .our_works_img {
    position: relative;
    width: 285px;
    height: 208px;
  }
}

.front-side, .back-side {
  width: 285px;
  height: 208px;
  text-align: center;
  color: var.$primary-color;
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  backface-visibility: hidden;
}

.image-container:hover .front-side,
.image-container:hover .back-side {
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back-side {
  background: #E9EDEF;
  position: absolute;
  top: 0;
  left: 0;
  width: 285px;
}

.inner {
  position: relative;
  width: 100%;
  font-size: 14px;
  font-weight: var.$bold;
  text-transform: uppercase;
  @include var.flex-center;
  flex-direction: column;
  border-top: 6px solid var.$primary-color;
  padding-top: 40px;

  .inner_category {
    font-weight: var.$light;
    margin-top: 15px;
    color: #8A8A8A;
    text-transform: capitalize;
  }
}

.circle_wrapper {
  @include var.flex-center;
  gap: 3px;
  margin-bottom: 32px;
  cursor: pointer;

  .circle_empty {
    width: 41px;
    height: 40px;
    border: 1px solid var.$primary-color;
    border-radius: 30px;
    @include var.flex-center;
    background-image: url("../img/icons/link.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  .circle_full {
    width: 41px;
    height: 40px;
    background-color: var.$primary-color;
    border-radius: 30px;
    @include var.flex-center;
    background-image: url("../img/icons/square.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .notification-link {
    position: relative;
    opacity: 0;
    transition: 0.25s ease;

    &::before {
      content: "link copied";
      width: 100px;
      height: 13px;
      position: absolute;
      top: -30px;
      font-size: 12px;
      background-color: var.$primary-color;
      color: var.$white;
      border-radius: 10px;
      padding: 4px;
      font-weight: var.$normal;
    }

    &::after {
      content: '';
      width: 10px;
      height: 10px;
      background-color: var.$primary-color;
      transform: rotate(45deg);
      position: absolute;
      top: -15px;
    }
  }
}


.back-side {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.image-container:hover .back-side {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.image-container:hover .front-side {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}


.loader {
  display: none;
  width: 100px;
  height: 100px;
  margin-top: -20px;
  margin-bottom: 79px;
}

.loader_svg {
  width: 90%;
  fill: none;
}

.load {
  transform-origin: 50% 50%;
  stroke-dasharray: 570;
  stroke-width: 20px;

  &.one {
    stroke: var.$primary-color-dark;
    animation: load 1.5s infinite;
  }

  &.two {
    stroke: var.$primary-color;
    animation: load 1.5s infinite;
    animation-delay: 0.1s;
  }

  &.three {
    stroke: var.$primary-color-light;
    animation: load 1.5s infinite;
    animation-delay: 0.2s;
  }
}

.point {
  animation: bounce 1s infinite ease-in-out;

  &.one {
    fill: var.$primary-color-light;
    animation-delay: 0s;
  }

  &.two {
    fill: var.$primary-color;
    animation-delay: 0.1s;
  }

  &.three {
    fill: var.$primary-color-dark;
    animation-delay: 0.2s;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes load {
  0% {
    stroke-dashoffset: 570;
  }
  50% {
    stroke-dashoffset: 530;
  }
  100% {
    stroke-dashoffset: 570;
    transform: rotate(360deg);
  }
}


.load_more_btn {
  width: 168px;
  height: 63px;
  padding-left: 25px;
  background-color: var.$primary-color;
  color: var.$white;
  border: none;
  border-radius: 8px;
  font-weight: var.$bold;
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    background-color: var.$primary-color-dark;
  }
}
.load_more_elem{
  background-image: url("../img/icons/plus.svg");
  @include var.background-options;
  width: 18px;
  height: 19px;
  position: absolute;
  left: 17px;
  top: 20px;
  transform: rotate(0);
  transition: all 0.5s;
}
.load_more_btn:hover .load_more_elem {
  transform: rotate(90deg);
}

.load1 {
  display: none;
}

.load2 {
  display: none;
}

.our_works_btn {
  margin-bottom: 99px;
}

//page_six
.page_six {
  width: 100vw;
  @include var.flex-center;

  .page_six_container {
    width: 1160px;
    margin-top: 84px;
    @include var.flex-center;
    flex-direction: column;
  }
}

.page_six_title {
  margin-bottom: 68px;
}

.breaking_news_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 33px;
  row-gap: 44px;
  margin-bottom: 130px;
}

.breaking_news_item {
  @include var.flex-center;
  flex-direction: column;
}

.breaking_news_link {
  position: relative;
  text-align: center;
  margin-bottom: 13px;

  .breaking_news_img {
    width: 263px;
    height: 208px;
    margin-bottom: 14px;
    text-align: center;
  }

  .breaking_news_date {
    width: 66px;
    height: 64px;
    background: #203E38;
    position: absolute;
    color: var.$white;
    font-weight: var.$normal;
    text-align: center;
    padding-top: 14px;
    top: 0;
    right: 0;
    transition: background 0.5s;
  }

  .breaking_news_text {
    color: var.$darkGrey;
    font-size: 18px;
    font-weight: var.$bold;
    transition: color 0.5s;
  }

  &:hover .breaking_news_date {
    background: var.$primary-color;
  }

  &:hover .breaking_news_text {
    color: var.$primary-color;
  }
}

.breaking_news_comment {
  color: #777777;
  font-weight: var.$light;
  font-size: 14px;

  a {
    color: #777777;
  }
}

.breaking_news_comment span {
  margin-left: 16px;
  margin-right: 16px;
}


//page_seven

.page_seven {
  width: 100vw;
  background-image: url("../img/Sections background/section-3.jpg");
  @include var.flex-center;
  @include var.background-options;
  background-size: cover;
}

.page_seven_content_wrapper {
  width: 1160px;
  @include var.flex-center;
  flex-direction: column;
  margin-top: 100px;

  .page_seven_title {
    color: var.$white;
    margin-bottom: 66px;
  }
}

.feedback_viewport {
  width: 1160px;
  height: 397px;
  overflow: hidden;
  margin-bottom: 51px;


  &.feedback_slider {
    position: relative;
    width: 100%;
    height: 397px;
  }
}

.feedback_slide_wrapper {
  position: absolute;
  width: 1160px;
  height: 397px;
  transition: 1s;
  @include var.flex-center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  .quotes {
    width: 44px;
    height: 30px;
    background-image: url("../img/icons/quotes.svg");
    @include var.background-options;
    transform: translateY(-20px);
    opacity: 0;
  }

  .feedback_slide_content {
    font-weight: var.$light;
    color: var.$feedback-color;
    line-height: 30px;
    transform: translateY(-20px);
    opacity: 0;
  }

  .feedback_slide_author {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: var.$bold;
    color: var.$primary-color;
    transform: translateY(-20px);
    opacity: 0;
  }

  .feedback_slide_position {
    font-weight: var.$light;
    font-size: 13px;
    color: var.$feedback-color;
    transform: translateY(-20px);
    opacity: 0;
  }

  .feedback_slide_photo {
    width: 171px;
    height: 166px;
    border: 10px solid rgba(20, 72, 70, 0.6);
    border-radius: 50%;
    margin-top: 25px;
    transform: translateY(-150px);
  }
}

.feedback_switches {
  @include var.flex-center;
  justify-content: space-between;
  width: 483px;
  position: relative;
  margin-bottom: 98px;
}

.feedback_btn {
  width: 31px;
  height: 31px;
  position: relative;
  background: rgba(0, 0, 0, 0.0001);
  transition: background 0.5s;
  cursor: pointer;
  border: 1px solid var.$feedback-color;

  &:hover {
    background: var.$primary-color;
    border: 1px solid var.$primary-color;
  }
}

.feedback_btn:hover .previous-line::after {
  background: var.$white;
}

.previous-line {
  position: absolute;
  left: 8px;
  top: 50%;
  width: 2px;
  height: 11px;
  transform-origin: 50% 0;
  transform: rotate(-45deg);

  &:nth-child(2) {
    transform: translateY(1px) rotate(-135deg);
  }
}

.previous-line::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var.$feedback-color;
  transition: background 0.5s;
}

.previous-line_next {
  transform: rotate(45deg);
  left: 17px;

  &:nth-child(2) {
    transform: translateY(1px) rotate(135deg);
  }
}

.rotation {
  .previous-line::after {
    animation: arrowLineRotation 0.5s;
  }

  .previous-line:nth-child(1):after {
    animation: arrowLineRotationRev 0.5s;
  }
}

@keyframes arrowLineRotation {
  to {
    transform: rotate(180deg);
  }
}

@keyframes arrowLineRotationRev {
  to {
    transform: rotate(-180deg);
  }
}

.feedback_headers_wrapper {
  @include var.flex-center;
  justify-content: space-between;
  gap: 20px;
}

.feedback_head {
  width: 79px;
  height: 71px;
  position: relative;
  cursor: pointer;
  border: 4px solid rgba(20, 72, 70, 0.6);
  border-radius: 50%;
  animation: border-transform 6s linear infinite alternate forwards;
  animation-play-state: paused;
}

.checked_head {
  box-shadow: 0 8px 25px 0 rgba(16, 39, 112, .3);
  transform: scale(1.3);
  animation-play-state: running;
}

@keyframes border-transform {
  0%, 100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}


//page_eight
.page_eight {
  width: 100vw;
  @include var.flex-center;
}

.page_eight_content_wrapper {
  @include var.flex-center;
  flex-direction: column;
  width: 1160px;
  margin-top: 109px;
  margin-bottom: 82px;
}

.page_eight_title {
  margin-bottom: 72px;
}

.gallery_wrapper {
  width: 1180px;
  height: 921px;
  margin-bottom: 52px;
}

.gallery_img_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.64);
  opacity: 0;
  transition: 0.5s;
  @include var.flex-center;
  gap: 20px;

  .dandruff {
    display: inline-block;
    width: 35px;
    height: 30px;
    background-color: #14B9D5;
    transition: 0.5s;
    @include var.flex-center;
    cursor: pointer;

    &::before {
      content: '';
      background-image: url("../img/icons/dandruff.png");
      width: 18px;
      height: 18px;
      @include var.background-options;
    }
  }

  .arrows {
    display: inline-block;
    width: 35px;
    height: 30px;
    background-color: #14B9D5;
    transition: 0.5s;
    @include var.flex-center;
    cursor: pointer;

    &::before {
      content: '';
      background-image: url("../img/icons/arrows.png");
      width: 18px;
      height: 18px;
      @include var.background-options;
    }
  }
}

.gallery_img2 .gallery_img_hover .dandruff {
  width: 30px;
  height: 28px;

  &::before {
    width: 16px;
    height: 16px;
  }
}

.gallery_img3 .gallery_img_hover .dandruff {
  width: 27px;
  height: 25px;

  &::before {
    width: 13px;
    height: 13px;
  }
}

.gallery_img2 .gallery_img_hover .arrows {
  width: 30px;
  height: 28px;

  &::before {
    width: 16px;
    height: 16px;
  }
}

.gallery_img3 .gallery_img_hover .arrows {
  width: 27px;
  height: 25px;

  &::before {
    width: 13px;
    height: 13px;
  }
}

.gallery_img {
  width: 378px;
  height: 263px;
  margin-bottom: 20px;
  @include var.background-options;
  background-size: cover;
  position: relative;

  &:nth-child(2) {
    height: 380px;
  }

  &:nth-child(3) {
    height: 168px;
  }

  &:nth-child(4) {
    height: 285px;
  }

  &:nth-child(6) {
    height: 247px;
  }

  &:nth-child(7) {
    height: 373px;
  }

  &:last-child {
    height: 254px;
  }
}

.gallery_img:not(.gallery_wrapper2):not(.gallery_wrapper3):hover .gallery_img_hover {
  opacity: 1;
}

.gallery_wrapper2 {
  margin-bottom: 3px;
}

.gallery_img__width2 {
  width: 364px;
}

.gallery_img2 {
  width: 179px;
  height: 168px;
  @include var.background-options;
  background-size: cover;
  position: relative;

  &:hover .gallery_img_hover {
    opacity: 1;
  }
}

.gallery_wrapper3 {
  margin-bottom: 16px;
  top: 0;
}

.gallery_img3 {
  width: 113px;
  height: 92px;
  margin-bottom: 3px;
  @include var.background-options;
  background-size: cover;
  position: relative;

  &:hover .gallery_img_hover {
    opacity: 1;
  }
}

.gallery_img3__width2 {
  width: 116px;
}

.gallery_img3__width3 {
  width: 119px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.64);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease-in-out;

  &.open {
    opacity: 1;
    visibility: visible;
    transition: all 0.8s ease-in-out;
  }
}

.open .popup_image {
  opacity: 1;
}

.popup_body {
  min-height: 100%;
  @include var.flex-center;
  padding: 20px;
}

.popup_image {
  width: 900px;
  height: 600px;
  position: relative;
  transform: perspective(1000px) translateX(1600px) rotateY(30deg);
  @include var.background-options;
  background-size: cover;
  transition: all 0.8s ease-in-out;
}

.popup_close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 28px;
  color: var.$primary-color;
  transition: 0s;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

.gallery_img_load_more {
  width: 378px;
  height: 263px;
  display: none;
}


