.wrapper-circle {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

button, input {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 10px 15px;
    margin: 20px 20px;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    border: none;
}

button:hover {
    background-position: right center;
}

input::placeholder {
    color: white;
    opacity: 0.5;
}

input:focus-visible {
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    outline: none;
}