.price-value:focus-visible {
    outline: none;
}

.price-value {
    margin: 40px 10px;
    border: 1px solid black;
    width: 70px;
}

.current-price {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 2px 10px;
    font-size: 13px;
    color:grey;
    position: absolute;
    top: 19px;
    left: 45px;
}

.delete {
    border: 1px solid grey;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.error{
    position: relative;
    font-size: 13px;
    bottom: 38px;
    left: 58px;
    color:red;
}