div.XTranslate {
    border: none;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.btn_change_theme {
    width: 140px;
    height: 25px;
    padding-left: 18px;
    color: #3E4C4E;
    position: absolute;
    z-index: 1;
    background: #FFFFFF;
    border: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
    top: 3px;
    right: 23px;
}

.btn_change_theme:hover{
    color: #14AFCA;
}

.btn_change_theme:active{
    top: 4px;
    right: 24px;
}

.btn_change_theme::before{
    content: '';
    background-image: url("img/moon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 1px;
    top: 5px;
}

/*theme_dark*/
.theme_dark, .theme_dark .page_two{
    background-color: #1B1F24;
    color: #bbbbbb;
}

.theme_dark .btn_change_theme{
    background-color: #4a4d50;
    color: #bbbbbb;
}

.theme_dark .btn_change_theme:hover{
    color: #14AFCA;
}

.theme_dark .btn_change_theme::before{
    content: '';
    background-image: url("img/sun.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 1px;
    top: 5px;
}

.theme_dark .header{
    background: none;
}

.theme_dark .company_name, .theme_dark .navbar_link, .theme_dark .page_tree_subtitle, .theme_dark .page_four_subtitle,
.theme_dark .page_four, .theme_dark .page_five, .theme_dark .page_six, .theme_dark .footer{
    color: #bbbbbb;
}

.theme_dark .triangle-bottomleft, .theme_dark .triangle-bottomright,
.theme_dark .triangle-bottomleft_five, .theme_dark .triangle-bottomright_five{
    border-bottom: 100px solid #1B1F24;
}

.theme_dark .triangle-topright, .theme_dark .triangle-topleft,
.theme_dark .triangle-topright_five, .theme_dark .triangle-topleft_five{
    border-top: 100px solid #1B1F24;
}
/*theme_dark*/


section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page_one {
    width: 100vw;
    height: 100vh;
    background-image: url("img/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-color: #1B1F24;
}

.page_one::after {
    content: '';
    position: absolute;
    background: black;
    opacity: 0.7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header {
    position: relative;
    z-index: 1;
    height: 113px;
    width: 100%;
    top: 30px;
    background: #FFFFFF;
    display: flex;
    gap: 152px;
    align-items: center;
    justify-content: center;
}

.company_name {
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    color: #424F57;
    font-family: Roboto, sans-serif;
}

.blue_color {
    color: #14AFCA;
    text-transform: uppercase;
}

.navbar {
    display: flex;
    gap: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.navbar_link {
    color: #3E4C4E;
}

.navbar_link:hover {
    color: #14AFCA;
}

.slogan {
    position: relative;
    z-index: 1;
    width: 996px;
    font-family: 'Futura Md BT', sans-serif;
    font-size: 52px;
    line-height: 75px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 192px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.wrapper_triangle {
    display: flex;
}

.triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 100px solid white;
    border-right: 50vw solid transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 100px solid white;
    border-left: 50vw solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.page_two {
    width: 1051px;
    height: 206px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #424F57;
    background: #FFFFFF;
    text-align: center;
}

.page_two_title {
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    color: #14AFCA;
    text-transform: uppercase;
}

.page_two_subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 1px;
}

.page_three {
    background-image: url("img/bg2.jpg");
    background-size: cover;
    background-position-y: -300px;
    background-repeat: no-repeat;
    background-color: #080403;
    background-attachment: fixed;
    position: relative;
    flex-direction: column;
}

.page_three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.triangle-topright {
    width: 0;
    height: 0;
    border-top: 100px solid white;
    border-left: 50vw solid transparent;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.triangle-topleft {
    width: 0;
    height: 0;
    border-top: 100px solid white;
    border-right: 50vw solid transparent;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}

.page_tree_title {
    margin-top: 114px;
    margin-bottom: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    color: #14AFCA;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.page_tree_subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
}

.page_three_container {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 2fr);
    grid-column-gap: 50px;
    grid-row-gap: 121px;
    position: relative;
    z-index: 1;
    justify-items: center;
    align-items: center;
}

.companies_1 {
    width: 189px;
    height: 34px;
}

.companies_2 {
    width: 225px;
    height: 99px;
    background: #FCFBFB;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.companies_2_1 {
    width: 77px;
    height: 63px;
}

.companies_2_2 {
    width: 114px;
    height: 38px;
}

.companies_3 {
    width: 217px;
    height: 40px;
}

.companies_4 {
    width: 176px;
    height: 89px;
}

.companies_5 {
    width: 159px;
    height: 48px;
}

.companies_6 {
    width: 217px;
    height: 40px;
}

.companies_7 {
    width: 185px;
    height: 48px;
}

.companies_8 {
    width: 200px;
    height: 38px;
}

.page_four {
    height: 498px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #424F57;
}

.page_four_title {
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    color: #14AFCA;
    text-transform: uppercase;
}

.page_four_subtitle {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 1px;
}

.page_four_team_wrapper {
    display: flex;
    gap: 85px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.page_four_team {
    width: 279px;
    height: 332px;
    display: flex;
    flex-direction: column;
    gap: 21px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page_four_team_img {
    width: 207px;
    height: 206px;
}

.page_five {
    background-image: url("img/bg3.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: #191917;
    background-attachment: fixed;
    flex-direction: column;
    position: relative;
    z-index: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.page_five::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: black;
    opacity: 0.7;
}

.wrapper_triangle_five {
    display: flex;
    width: 100%;
}

.triangle-topright_five {
    width: 0;
    height: 0;
    border-top: 100px solid white;
    border-left: 50vw solid transparent;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.triangle-topleft_five {
    width: 0;
    height: 0;
    border-top: 100px solid white;
    border-right: 50vw solid transparent;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}

.page_five_title {
    position: relative;
    z-index: 1;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #14AFCA;
    margin-bottom: 10px;
}

.page_five h3 {
    position: relative;
    z-index: 1;
}

.blockquote {
    margin-top: 48px;
    margin-bottom: 28px;
    position: relative;
    z-index: 1;
    color: #D3CCCC;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    font-style: italic;
}

.blockquote_caption {
    position: relative;
    z-index: 1;
    letter-spacing: 0.45px;
    font-size: 18px;
    line-height: 24px;
    font-style: italic;
    font-weight: 400;
    text-align: end;
}

.triangle-bottomleft_five {
    width: 0;
    height: 0;
    border-bottom: 100px solid white;
    border-right: 50vw solid transparent;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
}

.triangle-bottomright_five {
    width: 0;
    height: 0;
    border-bottom: 100px solid white;
    border-left: 50vw solid transparent;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}

.page_six {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.45px;
    color: #424F57;
    text-align: center;
}

.page_six_title {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #14AFCA;
}

.page_six_text {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 1px;
}

.footer {
    margin: 88px auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #3D3C3C;
    text-align: center;
}

.bold {
    font-weight: 700;
    font-size: 16px;
}
