body{
    overflow-x: hidden;
}

.wrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.viewport {
    width: 1000px;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.wrapper_slider {
    display: flex;
    transition: 0.5s;
    position: relative;
    left: 0;
}

.slider_item {
    width: 1000px;
    height: 600px;
    position: relative;
}

.btn{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #aa7080;
    border: 0;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}

.btn:hover {
    box-shadow: #915865 0 0 0 40px inset;
}

.btn.next{
    margin-left: 20px;
}
.img {
    border: 20px solid white;
    width: 1000px;
    height: 600px;
}
